@using Blazored.LocalStorage;
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@inject ILocalStorageService localStorage


<PageTitle>Frontend.BlazorServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AuthorizeView>
            <Authorized>
                <p>Hello, @context.User.Identity?.Name!</p>
                <div class="top-row px-4">
                    <a @onclick="Logout">Logout</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="top-row px-4">
                    <a href="/login">Login</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <article class="content px-4">
            @Body
        </article>

    </main>
</div>

@code {
    private async Task Logout()
    {
        await localStorage.RemoveItemAsync("token");
        await authStateProvider.GetAuthenticationStateAsync();
        navManager.NavigateTo("/", true);
    }
}
